.idea
.ipynb_checkpoints
data/*
hmmer/*
src/__pycache__/
src/.ipynb_checkpoints/
process_data/__pycache__/
 __init__.py
process_data/draft.ipynb
src/tmp/
notes.txt
train-code/__pycache__
tmp


# Ignore log files
*.log
models/
