# hidden files
.idea
.ipynb_checkpoints
*__pycache__/
.log
.ruff_cache

# Cluster data
data/clusters/*
!data/clusters/.gitkeep

# FASTA data
data/fasta/*
!data/fasta/Human-dna-binders.fasta
!data/fasta/.gitkeep

# Papers data
data/DBP_papers_data

# Embeddings
data/embeddings/ankh_embeddings/*
!data/embeddings/ankh_embeddings/.gitkeep
data/embeddings/esm_embeddings/
data/embeddings/prot5_embeddings/

# Input CSV embeddings
data/embeddings/input_csv/*
!data/embeddings/input_csv/pdb1000.csv
!data/embeddings/input_csv/pdb20000.csv
!data/embeddings/input_csv/pdb2272.csv
!data/embeddings/input_csv/train_p3.csv

# Interpro, nakb, and prediction data
data/interpro_data/
data/nakb/
data/predictions/
data/proteinfer/

# prediction
data/prediction/*
!data/prediction/.gitkeep

# Splits data
data/splits/*
!data/splits/train_pdb186.csv
!data/splits/train_pdb1000.csv
!data/splits/train_pdb2272.csv
!data/splits/train_pdb20000.csv
!data/splits/train_p3.csv

# Uniprot data
data/uniprot/*
!data/uniprot/go_0003677_swissprot.fasta
!data/uniprot/notgo_0003723_notgo_0003677_swissprot.fasta

# Processed data
data/processed/*
!data/processed/neg_samples_annot.yml

# Other data
data/not_annotated/
data/taxon
data/go_terms/uniprot_annotation_all_exPDB186.tsv
data/test_cases
data/external/

data/Tools Data

hmmer
notes.txt
wget_data
notebooks

# training-pLM
training-pLM/BiCaps-DBP.ipynb
training-pLM/finetune_exp.ipynb
training-pLM/draft.ipynb
training-pLM/lightning_logs
training-pLM/ankh-base-lora-finetuned
training-pLM/ankh-lora-finetuned
training-pLM/prototype_plm.ipynb
training-pLM/inference_ankh_head.py
training-pLM/inference_ankh_lora.py

# models
models/*
training-pLM/checkpoints/*
!training-pLM/checkpoints/models
training-pLM/checkpoints/models/pdb1000-0.pth
training-pLM/checkpoints/models/pdb1000-1.pth
training-pLM/checkpoints/models/pdb20000-3.pth
training-pLM/checkpoints/models/pdb20000-4.pth
training-pLM/checkpoints/models/pdb1000-2.pth
training-pLM/checkpoints/models/pdb2272-0.pth
training-pLM/checkpoints/models/pdb2272-1.pth
training-pLM/checkpoints/models/pdb20000-0.pth
training-pLM/checkpoints/models/pdb2272-4.pth
training-pLM/checkpoints/models/pdb1000-3.pth
training-pLM/checkpoints/models/pdb1000-4.pth
training-pLM/checkpoints/models/pdb2272-2.pth
training-pLM/checkpoints/models/pdb2272-3.pth
training-pLM/checkpoints/models/pdb20000-1.pth
training-pLM/checkpoints/models/pdb20000-2.pth
training-pLM/checkpoints/models/DBP-Finder_batch_644.pth
training-pLM/checkpoints/models/DBP-Finder_batch_643.pth
training-pLM/checkpoints/models/DBP-Finder_batch_642.pth
training-pLM/checkpoints/models/DBP-Finder_batch_641.pth
training-pLM/checkpoints/models/DBP-Finder_batch_640.pth


#other data
tmp
logs
training-pLM/optuna_search.py
